@page "/edit_task/{id:int}"
@inject NavigationManager _nav
@inject TasksManager _tasks
<div class="container">
    <h1>Edit task</h1>
    <EditForm Model=_task OnValidSubmit=HandleSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputNumber id="id" @bind-Value="_task.Id" />
        <InputText id="name" @bind-Value="_task.Name" />
        <InputDate id="date" @bind-Value="_task.Date" />
        <div class="mt-1">
            <button type="submit" class="btn btn-primary">Edit</button>
            <button type="reset" class="btn btn-danger">Cancel</button>
        </div>
    </EditForm>
</div>
@code
{
    [Parameter]
    public int Id { get; set; }

    private TaskData _task;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _task = _tasks.Tasks.First(task => task.Id == Id);
    }

    private void HandleSubmit()
    {
        _tasks.UpdateTask(Id, _task);
        _nav.NavigateTo("/");
    }
}